---

_You are currently looking at **version 1.5** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# Assignment 3 - More Pandas
This assignment requires more individual learning then the last one did - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

### Question 1 (20%)
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This function should return a DataFrame with 20 columns and 15 entries.*

import pandas as pd
import numpy as np
def answer_one():
    """#download the excel file
    #exclude the footer and header information from the datafile
    #drop the firt 2 columns
    #energy=pd.read_excel("Energy Indicators.xls",header=None,skipfooter=37).drop([0,1],axis=1)
    energy=(pd.read_excel("Energy Indicators.xls",header=None,skip_footer=2).drop([0,1],axis=1)).dropna()
    energy=energy.drop(9)
    #Rename columns
    energy_columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy.columns=energy_columns
    #energy=energy[18:]
    
    #Reflecting missing data (e.g. data with "...") as np.NaN values
    energy[energy=="..."]=np.NaN
    
    #Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule)
    energy['Energy Supply']*=1000000
    
    #Rename the following list of countries : ["Republic of Korea","United States of America",
    # "United Kingdom of Great Britain and Northern Ireland","China, Hong Kong Special Administrative Region"]
    #to : ["South Korea","United States","United Kingdom","Hong Kong"]
    energy=energy.replace(["Republic of Korea","United States of America","United Kingdom of Great Britain and Northern Ireland",
                           "China, Hong Kong Special Administrative Region"],
                          ["South Korea","United States","United Kingdom","Hong Kong"])"""
    energy = pd.read_excel('Energy Indicators.xls', header=None, skip_footer=2)
    #print (energy)
    energy = (energy.drop([0, 1], axis=1) #Remove first two columns
                     .dropna() #drop NaN's
                     .drop(9)
                     .rename(columns={2: 'Country', #Renaming columns
                                      3: 'Energy Supply',
                                      4: 'Energy Supply per Capita',
                                      5: '% Renewable'})
                     .replace(regex=True, to_replace=[r'\d', r' \(([^)]+)\)'], value=r'') #Pruning in country names
                     .replace(to_replace=["...", "Republic of Korea", "United States of America", #Replace ... with NaN and country names
                                         "United Kingdom of Great Britain and Northern Ireland",
                                         "China, Hong Kong Special Administrative Region"],
                              value=[np.NaN, "South Korea", "United States", "United Kingdom", "Hong Kong"])
                     .apply(petaToGiga, axis=1,)) #convert petajoules to giga joules
    
    #remove the parentheses part in names
    """def split_name(name):
        if "(" in name:
            return name.split("(")[0][:-1]
        else :
            return name"""
    #energy["Country"]=energy["Country"].apply(split_name)
    energy=energy.replace(regex=True, to_replace=[r'\d', r' \(([^)]+)\)'], value=r'')
    
    
    """#GDP
    GDP = pd.read_csv("world_bank.csv",skiprows=4)
    #GDP=GDP[4:]
    GDP=GDP.set_index("Country Name")
    GDP=GDP.replace(["Korea, Rep.","Iran, Islamic Rep.","Hong Kong SAR, China"],["South Korea","Iran","Hong Kong"])"""
    GDP = pd.read_csv('world_bank.csv', header=None, skiprows=4)
    GDP = (GDP.rename(columns=GDP.iloc[0])
              .drop(0)
              .replace(to_replace=["Korea, Rep.", "Iran, Islamic Rep.", "Hong Kong SAR, China"],
                       value=["South Korea", "Iran", "Hong Kong"])
              .rename(columns={2006: '2006', 2007: '2007', 2008: '2008', 2009: '2009', 2010: '2010',
                                    2011: '2011', 2012: '2012', 2013: '2013', 2014: '2014', 2015: '2015'}))
    GDP.index=GDP['Country Name']
    
    #ScimEn
    ScimEn=pd.read_excel("scimagojr-3.xlsx")
    
    #Merging
    l=['1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', 
       '2004', '2005']
    #GDP1=GDP.drop(l,axis=1)
    GDP_columns = [ '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    GDP1 = GDP[GDP_columns]
    
    ScimEn_columns = ['Rank', 'Country', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index']
    #ScimEn1 = ScimEn[ScimEn_columns]
    ScimEn1=ScimEn.sort_values("Rank")[:15]
    df1=pd.merge(energy,GDP1.reset_index(),how='inner',left_on="Country", right_on='Country Name')
    df2=pd.merge(df1,ScimEn1,how='inner',left_on="Country", right_on='Country')
    #df1=pd.merge(GDP1.reset_index(),ScimEn1,how='inner',left_on="Country Name", right_on='Country')
    #df2=pd.merge(df1,energy,how='inner',left_on="Country Name", right_on='Country')
    df2=df2.set_index("Country")
    clm= ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
         'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', 
         '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    df2=df2[clm]
    return df2
answer_one().shape

In [1]:
import pandas as pd
import numpy as np

def convertir(row):
    row['Energy Supply'] *= 1000000
    return row

def fct_energy():
    """
    #download the excel file
    #exclude the footer and header information from the datafile
    #drop the firt 2 columns
    
    energy=pd.read_excel("Energy Indicators.xls",skip_footer=38)
    #energy=energy[9:]
    energy=energy[7:]
    energy.columns=energy.iloc[7]
    energy=energy.drop([7,8,10,11,12,13,14,15])
    energy=energy.iloc[:,2:]
    
    #Rename columns
    
    energy_columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    energy.columns=energy_columns
    
    #Reflecting missing data (e.g. data with "...") as np.NaN values
    
    energy[energy=="..."]=np.NaN
    
    #Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule)
    
    energy['Energy Supply']*=1000000
    
    #Rename the following list of countries : ["Republic of Korea","United States of America",
    # "United Kingdom of Great Britain and Northern Ireland","China, Hong Kong Special Administrative Region"]
    #to : ["South Korea","United States","United Kingdom","Hong Kong"]
    
    energy=energy.replace(["Republic of Korea","United States of America","United Kingdom of Great Britain and Northern Ireland",
                           "China, Hong Kong Special Administrative Region"],
                          ["South Korea","United States","United Kingdom","Hong Kong"])
    
    #remove the parentheses part in names
    
    energy=energy.replace(regex=True, to_replace=[r'\d', r' \(([^)]+)\)'], value=r'')"""
    energy = pd.read_excel('Energy Indicators.xls', header=None, skip_footer=2)
    #print (energy)
    energy = (energy.drop([0, 1], axis=1) #Remove first two columns
                     .dropna() #drop NaN's
                     .drop(9)
                     .rename(columns={2: 'Country', #Renaming columns
                                      3: 'Energy Supply',
                                      4: 'Energy Supply per Capita',
                                      5: '% Renewable'})
                     .replace(regex=True, to_replace=[r'\d', r' \(([^)]+)\)'], value=r'') #Pruning in country names
                     .replace(to_replace=["...", "Republic of Korea", "United States of America", #Replace ... with NaN and country names
                                         "United Kingdom of Great Britain and Northern Ireland",
                                         "China, Hong Kong Special Administrative Region"],
                              value=[np.NaN, "South Korea", "United States", "United Kingdom", "Hong Kong"])
                     .apply(convertir, axis=1,)) #convert petajoules to giga joules
    
    return energy

def fct_GDP():
    GDP = pd.read_csv("world_bank.csv",skiprows=4,header=0)
    GDP=GDP.replace(["Korea, Rep.","Iran, Islamic Rep.","Hong Kong SAR, China"],["South Korea","Iran","Hong Kong"])
    GDP=GDP.set_index("Country Name")
    return GDP

def fct_ScimEn(): 
    ScimEn=pd.read_excel("scimagojr-3.xlsx")
    return ScimEn

def answer_one():
    #Merging
    l=['1960', '1961',
       '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970',
       '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979',
       '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988',
       '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997',
       '1998', '1999', '2000', '2001', '2002', '2003', 
       '2004', '2005']
    GDP=fct_GDP()
    GDP=GDP.reset_index()
    GDP=GDP.drop(l,axis=1)
    
    ScimEn=fct_ScimEn()
    ScimEn=ScimEn.sort_values("Rank")[:15]
    
    energy=fct_energy()
    df1=pd.merge(energy,GDP,how='inner',left_on="Country", right_on='Country Name')
    df2=pd.merge(df1,ScimEn,how='inner',left_on="Country", right_on='Country')
    df2=df2.set_index('Country')
    clm= ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
     'Citations per document', 'H index', 'Energy Supply', 'Energy Supply per Capita', 
     '% Renewable', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    df2=df2[clm]
    return df2
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

### Question 2 (6.6%)
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This function should return a single number.*

In [2]:
%%HTML
<svg width="800" height="300">
  <circle cx="150" cy="180" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="blue" />
  <circle cx="200" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="red" />
  <circle cx="100" cy="100" r="80" fill-opacity="0.2" stroke="black" stroke-width="2" fill="green" />
  <line x1="150" y1="125" x2="300" y2="150" stroke="black" stroke-width="2" fill="black" stroke-dasharray="5,3"/>
  <text  x="300" y="165" font-family="Verdana" font-size="35">Everything but this!</text>
</svg>

In [3]:
def answer_two():
    energy, GDP, ScimEn = fct_energy() , fct_GDP() , fct_ScimEn()
    '''mrg1 = pd.merge(energy, GDP.reset_index(), how="inner", left_on="Country", right_on="Country Name")
    mrg2 = pd.merge(energy, ScimEn, how="inner", left_on="Country", right_on="Country")
    mrg3 = pd.merge(GDP.reset_index(), ScimEn, how="inner", left_on="Country Name", right_on="Country")
    mrg = pd.merge(mrg1, ScimEn, how="inner", left_on="Country Name", right_on="Country")
    N1 = len(energy.index)
    N2 = len(GDP.index)
    N3 = len(ScimEn.index)
    N12 = len(mrg1.index)
    N13 = len(mrg2.index)
    N23 = len(mrg3.index)
    N = len(mrg.index)
    lost = N1 + N2 + N3 - N12 - N13 - N23 + N
    return lost'''
    GDP['Country']=GDP.index
    union =  pd.merge(pd.merge(ScimEn,energy,left_on='Country',right_on="Country",how ='outer'),GDP,left_on='Country',right_on='Country',how ='outer')
    intersect =  pd.merge(pd.merge(ScimEn,energy,left_on='Country',right_on='Country',how ='inner'),GDP,left_on='Country',right_on='Country',how ='inner')
    return len(union)-len(intersect)
answer_two()

156

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by `answer_one()`)

### Question 3 (6.6%)
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This function should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [4]:
def answer_three():
    Top15 = answer_one()
    rows = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']
    Top15=Top15.apply(lambda x: np.mean(x[rows]), axis=1)
    Top15=Top15.dropna()
    Top15=Top15.sort_values(ascending=False)
    Top15=Top15.rename('avgGDP')
    return Top15
answer_three()

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
Name: avgGDP, dtype: float64

### Question 4 (6.6%)
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*This function should return a single number.*

In [5]:
def answer_four():
    Top15 = answer_one()
    avgGDP = answer_three()
    country=avgGDP.index[5]
    
    return Top15.loc[country]['2015']-Top15.loc[country]['2006']
answer_four()

246702696075.3999

### Question 5 (6.6%)
What is the mean `Energy Supply per Capita`?

*This function should return a single number.*

In [6]:
def answer_five():
    Top15 = answer_one()
    return float(np.average(Top15['Energy Supply per Capita']))
answer_five()

157.6

### Question 6 (6.6%)
What country has the maximum % Renewable and what is the percentage?

*This function should return a tuple with the name of the country and the percentage.*

In [7]:
def answer_six():
    Top15 = answer_one()
    Top15=Top15.sort_values('% Renewable', axis=0, ascending=False)
    country=Top15.index[0]
    percentage=Top15.loc[country]['% Renewable']
    #percentage=Top15.loc[country]['% Renewable']/np.sum(Top15['% Renewable'])
    #percentage=percentage*100
    return country,percentage
answer_six()

('Brazil', 69.648030000000006)

### Question 7 (6.6%)
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This function should return a tuple with the name of the country and the ratio.*

In [8]:
def answer_seven():
    Top15 = answer_one()
    Top15['Ratio']=Top15["Self-citations"]/Top15["Citations"]
    Top15=Top15.sort_values('Ratio', axis=0, ascending=False)
    country=Top15.index[0]
    return country,Top15.loc[country]["Ratio"]
answer_seven()

('China', 0.68931261793894216)

### Question 8 (6.6%)

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*This function should return a single string value.*

In [9]:
def answer_eight():
    Top15 = answer_one()
    Top15["Population"]=Top15["Energy Supply"]/Top15['Energy Supply per Capita']
    Top15=Top15.sort_values('Population', axis=0, ascending=False)
    country=Top15.index[2]
    return country
answer_eight()

'United States'

### Question 9 (6.6%)
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*This function should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [10]:
def answer_nine():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['Population']
    corr=Top15.corr(method ='pearson') 
    return corr.loc['Energy Supply per Capita','Citable docs per Capita']
answer_nine()

0.79400104354429435

def plot9():
    import matplotlib as plt
    %matplotlib inline
    
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15['Citable docs per Capita'] = Top15['Citable documents'] / Top15['PopEst']
    Top15.plot(x='Citable docs per Capita', y='Energy Supply per Capita', kind='scatter', xlim=[0, 0.0006])

#plot9() # Be sure to comment out plot9() before submitting the assignment!

### Question 10 (6.6%)
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This function should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [11]:
def answer_ten():
    Top15 = answer_one()
    median = np.median(Top15['% Renewable'])
    Top15["Comp"] = np.where(Top15['% Renewable']>=median,1,0)
    Top15=Top15.sort_values('Rank', axis=0, ascending=True)
    resultat=Top15.Comp
    resultat=resultat.rename("HighRenew")
    return resultat
answer_ten()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

### Question 11 (6.6%)
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [12]:
def ajouter_continent():
    ContinentDict = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    Top15 = answer_one()
    Top15['Country Name']=Top15.index
    Top15['Continent']=Top15['Country Name'].apply(ContinentDict.get)
    del Top15["Country Name"]
    return Top15
def answer_eleven():
    Top15=ajouter_continent()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15=Top15[["Population","Continent"]]
    d={}
    for continent in Top15.Continent.unique() :
        tmp = Top15[Top15["Continent"]==continent]["Population"]  
        #d[continent]={'size': len(tmp),'sum': np.sum(tmp), 'mean':np.mean(tmp), 'std':np.std(tmp)}
        d[continent]=[len(tmp),np.sum(tmp),np.mean(tmp),np.std(tmp)]
    df=pd.DataFrame.from_dict(d, orient='index')
    df.columns=['size', 'sum', 'mean', 'std']
    return df
answer_eleven()

               size           sum          mean           std
Australia         1  2.331602e+07  2.331602e+07  0.000000e+00
South America     1  2.059153e+08  2.059153e+08  0.000000e+00
North America     2  3.528552e+08  1.764276e+08  1.411878e+08
Asia              5  2.898666e+09  5.797333e+08  6.074036e+08
Europe            6  4.579297e+08  7.632161e+07  3.162885e+07

### Question 12 (6.6%)
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*This function should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [13]:
def answer_twelve():
    Top15 = ajouter_continent()
    #Top15 = (Top15.reset_index(level=0).set_index(['Continent', 'Country']))
    Top15["Bins"]=pd.cut(Top15["% Renewable"],5)
    #Top15.groupby(['Continent','Bins'])
    #Top15 = (Top15.reset_index().set_index(['Continent', '% Renewable']))
    #Top15 = Top15.groupby(level=['Continent', '% Renewable'])
    Top15['COUNTER'] =1       #initially, set that counter to 1.
    grouped_data = Top15.groupby(['Continent', 'Bins'])['COUNTER'].sum()
    return grouped_data
answer_twelve()

Continent      Bins
Asia           (2.212, 15.753]     4
               (15.753, 29.227]    1
Australia      (2.212, 15.753]     1
Europe         (2.212, 15.753]     1
               (15.753, 29.227]    3
               (29.227, 42.701]    2
North America  (2.212, 15.753]     1
               (56.174, 69.648]    1
South America  (56.174, 69.648]    1
Name: COUNTER, dtype: int64

### Question 13 (6.6%)
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*This function should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [14]:
"""def Convert(word):
    partie1=word.split('.')[0]
    partie2='.'+word.split('.')[1]
    print(word,word.split('.'))
    partie1=partie1[::-1]
    l=[partie1[i:i+3][::-1]  for i in range(0, len(partie1), 3)]
    l.reverse()
    partie1 = ",".join(l)
    return partie1+partie2

def answer_thirteen():
    Top15 = answer_one()
    Top15['Population'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    #Top15.Population=Top15.Population.astype('str')
    print(Top15['Population'])
    #Top15['Population']=Top15['Population'].apply(Convert)
    result=Top15['Population']
    result=result.rename('PopEst')
    return result
"""
def answer_thirteen():
    Top15 = answer_one()
    Top15['PopEst'] = Top15['Energy Supply'] / Top15['Energy Supply per Capita']
    Top15 = Top15['PopEst']
    for i in range(len(Top15)):
        country = Top15.keys()[i]
        number = "{:,}".format((Top15.iloc[i]))
        Top15.replace(Top15.iloc[i], number, inplace=True)
    return Top15

answer_thirteen()
#print(Convert('317615384.61538464')=='317,615,384.61538464')

Country
Australia              23,316,017.316017315
Brazil                 205,915,254.23728815
Canada                  35,239,864.86486486
China                 1,367,645,161.2903225
France                  63,837,349.39759036
Germany                 80,369,696.96969697
India                 1,276,730,769.2307692
Iran                    77,075,630.25210084
Italy                  59,908,256.880733944
Japan                  127,409,395.97315437
South Korea            49,805,429.864253394
Russian Federation            143,500,000.0
Spain                    46,443,396.2264151
United Kingdom         63,870,967.741935484
United States          317,615,384.61538464
Name: PopEst, dtype: object

def plot_optional():
    import matplotlib as plt
    %matplotlib inline
    Top15 = answer_one()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")

In [15]:
#plot_optional() # Be sure to comment out plot_optional() before submitting the assignment!